@model NoteViewModels.Create

<form method="post" asp-action="Create">
    <div asp-validation-summary="All"></div>
    <input type="submit" value="Create"/>
    <input asp-for="Title" style="width:100%"/>
    <textarea asp-for="Content" style="width:100%; height: 500px"></textarea>
</form>